@charset "UTF-8";
/* CSS Document */
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: #f5f0eb;
  overflow-x: hidden;
}

header {
  background-image: url(./man-in-blue.jpg);
  background-position: 70% 30%;
  background-size: cover;
  height: 60vh;
}

header img {
  margin: 10px;
  max-width: 100px;
  cursor: pointer;
}

header h1 {
  font-family: source sans pro;
  font-size: 50px;
  text-align: center;
  color: white;
  margin-top: 140px;
  text-transform: none;
}
#googletranslate {
  float: right;
}
h1 {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Roboto", sans-serif;
  color: #3e3e3e;
}

h4 {
  font-family: "Roboto", sans-serif;
}
#wrapper1 {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #607a54;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: -50px;
}
.select {
  font-family: arial, sans-serif;
  font-size: 15px;
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

select {
  text-align: center;
  margin: 0 auto;
  background-color: #fff;
  color: black;
  width: 150px; /*150*/
  height: 30px; /*30*/
}

#wrapper1 select {
  text-align: center;
  margin: 0 auto;
  background-color: #fff;
  color: black;
  width: 370px; /*150*/
  height: 50px; /*30*/
  border: none;
}

#lProv {
  color: #fff;
}

#lCity {
  color: #fff;
}

.filter {
  background-color: white;
  height: fit-content;
  width: 240px;
  padding: 10px;
  margin-bottom: 20px;
}

.filter p {
  padding: 5px;
  font-family: arial;
  color: #000;
}

.filter label {
  padding: 10px;
  font-family: arial;
  color: #000;
}

#province {
  font-size: 12px;
  font-family: arial;
  margin-left: 50px;
}

#city {
  font-size: 12px;
  font-family: arial;
}

#wrapper2 {
  align-content: center;
  display: none;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1000px;
  width: auto;
}


.cards {
  background-color: white;
  height: fit-content;
  padding: 10px;
  margin-left: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  -webkit-box-shadow: 3px 3px 7px -5px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 3px 3px 7px -5px rgba(0, 0, 0, 0.48);
  box-shadow: 3px 3px 7px -5px rgba(0, 0, 0, 0.48);
}

#cardImg {
  min-height: auto;
  width: 400px;
  max-width: 400px;
  margin-right: 20px;
}

#spinner {
  width: 70px;
}

#appendcards {
  box-sizing: border-box;
  width: 100%;
}

span h2 {
  margin: 0;
  padding: 0;
}

span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  margin-bottom: 0;
  width: 100%;
}

#wrapper3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1010px;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 100px;
}

#wrapper3 img {
  padding: 5px;
  margin: 0px;
  width: 500px;
  flex: 1;
  cursor: pointer;
}


#wrapper3 img:hover {
  opacity: 0.5;
  transition: 0.5s ease;
}

#headline {
  font-family: source sans pro;
  font-size: 40px;
  text-align: center;
  padding: 5px;
}

#search {
  cursor: pointer;
  max-width: 100%;
  height: 35px;
  padding: 0px 20px;
  margin-top: 55px; /* 30px*/
  margin-left: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px -2px #000000;
  line-height: 1.25;
  text-align: center;
  background-color: #bdbda0; /*#E8E8E8;*/
  text-decoration: none;
  color: #364530; /*#000;*/
  font-size: 13px;
  letter-spacing: 0.09em;
  outline: none;
  border: none; /*tillägg*/
}

#search:hover {
  background-color: #79996a;
}

#search a {
  text-decoration: none;
  color: inherit;
}

#readmoreouter {
  display: flex;
  align-self: flex-end;
  font-family: "Roboto", sans-serif;
  width: 100px;
  height: 35px;
  padding: 0px 0px;
  margin-top: 0px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px -2px #000000;
  text-align: center;
  background-color: #607a54;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.09em;
  margin-right: 5px;
}
#readmoreouter h4 {
  margin: 0 auto;
  margin-top: 7px;
  width: 100%;
}

#readmoreouter:hover {
  background-color: #79996a;
}



#spinnerouter {
  display: none;

  text-align: center;
  background-color: white;
  -webkit-box-shadow: 3px 3px 7px -5px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 3px 3px 7px -5px rgba(0, 0, 0, 0.48);
  box-shadow: 3px 3px 7px -5px rgba(0, 0, 0, 0.48);
}

#lSort {
  font-family: "Roboto", sans-serif;
  color: #3e3e3e;
  padding-left: 0px;
  font-size: 18px;
}

#scrollBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  float: right;
  right: 18.5%;
  left: 90.25%;
  max-width: 30px;
  width: 100%;
  font-size: 12px;
  border-color: rgba(85, 85, 85, 0.2);
  background-color: rgb(100, 100, 100);
  padding: 0.5px;
  border-radius: 4px;
  text-align: center;
  background-color: #607a54;
}

#scrollBtn i {
  color: white;
}

/*On Hover Color Change*/
#scrollBtn:hover {
  background-color: #79996a;
}

footer {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  height: auto;
  background-color: #607a54;
  width: 100%;
  margin-bottom: 0px;
  color: #fff;
  font-family: "Karla", sans-serif;
  font-size: 1em;
}

footer h4 {
  font-family: source sans pro;
  font-size: 20px;
}

footer p {
  font-family: arial;
  font-size: 1em;
}

#geofeedback {
  display: none;
}

/*Start media Q*/
@media only screen and (max-width: 600px) {
  #wrapper1 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95%;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    max-height: 350px;
  }
  
  #wrapper3 {
    max-width: 100%;
    margin-bottom: 10px;
  }
  
  #wrapper3 img {
    flex: 0;
    width: 350px;
    height: 300px;
  }

  #wrapper1 select {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  #search {
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
    max-width: 20%;
  }

  .cards {
    height: fit-content;
    justify-content: center;
    
    width: 95%;
  }

  #cardImg {
    height: 200px;
    width: 300px;
    min-width: 0;
    margin-right: 20px;
  }

  #wrapper2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .filter {
    width: 95%;
    justify-content: center;
  }

  footer {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    height: auto;
    background-color: #607a54;
    width: 100%;
    margin-bottom: 0px;
    color: #fff;
  }

  footer h4 {
    font-family: arial;
  }

  footer p {
    font-family: arial;
    font-size: 1em;
  }

  #wrapper1 select {
    width: 90%;
  }

  header h1 {
    margin-top: 0px;
  }
  body {
    overflow-x: hidden;
  }
  #scrollBtn {
    display: none;
  }

}

/*End media Q*/
